[default]
aws_access_key_id = REPLACE_WITH_YOUR_AWS_ACCESS_KEY_ID
aws_secret_access_key = REPLACE_WITH_YOUR_AWS_SECRET_ACCESS_KEY
region = ap-southeast-1

# Example of additional profiles if needed
[production]
aws_access_key_id = REPLACE_WITH_YOUR_PROD_AWS_ACCESS_KEY_ID
aws_secret_access_key = REPLACE_WITH_YOUR_PROD_AWS_SECRET_ACCESS_KEY
region = ap-southeast-1

[staging]
aws_access_key_id = REPLACE_WITH_YOUR_STAGING_AWS_ACCESS_KEY_ID
aws_secret_access_key = REPLACE_WITH_YOUR_STAGING_AWS_SECRET_ACCESS_KEY
region = ap-southeast-1